@import "../../node_modules/@angular/material/theming";
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');
@include mat-core();

// doesnt work
$theme-primary: mat-palette($mat-teal);
$theme-accent: mat-palette($mat-pink);
$theme-warn: mat-palette($mat-deep-orange);
$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

@include angular-material-theme($theme);
